{% extends 'base.html' %}

{% block title %}Add a New Camper{% endblock %}

{% block page %}

{% include "form_errors.html" %}

    {% if mode == 'create' %}
        <h2 class= "display-4 text-center">Add Camper</h2>
    {% else %}
        <h2 class= "display-4 text-center">Update Camper{{ form.id.data }}</h2>
    {% endif %}

    <form method="POST">
        {{ form.csrf_token }}

        <!------------------------------------------------------------------------------------>
        <div class="form-group">
            <b>{{ form.add_name.label }}</b>{{ form.add_name(class_="form-control") }}
        </div>

        <div class="form-group">
            <b>{{ form.add_swim_number.label }}</b>{{ form.add_swim_number(class_="form-control") }}
        </div>

        <div class="form-group">
            <b>{{ form.add_prompt.label }}</b>{{ form.add_prompt(class_="form-control") }}
        </div>

        {{ form.submit(class_="btn btn-primary") }}
        <!------------------------------------------------------------------------------------>
    </form>

{% endblock %}

