{% extends 'base.html' %}

{% block title %}Camper Details{% endblock %}

{% block page %}

    {{ camper_name }}
    <br>
    {{ swim_number }}
    <br>
    {{ camper_prompt }}
    <br>
    {{ camp_session }}
    <br>

    {% include 'form_errors.html' %}

    <form method="POST">
        {{ form.csrf_token }}

        <!------------------------------------------------------------------------------------>
        <div class="form-group">
            <b>{{ form.trans_type.label }}</b>{{ form.trans_type(class_="form-control") }}
        </div>

        <div class="form-group">
            <b>{{ form.amount.label }}</b>{{ form.amount(class="form-control") }}
        </div>

        {{ form.submit(class_="btn btn-primary") }}
        <!------------------------------------------------------------------------------------>
    </form>

{% endblock %}
