{% if form1.errors %}
    <div class="alert alert-danger">
        <h2>Please correct the following and resubmit</h2>
        <ul>
            {% for field_name in form1.errors %}
                {% for field_error in form1.errors[field_name] %}
                    <li>{{ form1[field_name].label }}: {{ field_error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% if form2.errors %}
    <div class="alert alert-danger">
        <h2>Please correct the following and resubmit</h2>
        <ul>
            {% for field_name in form2.errors %}
                {% for field_error in form2.errors[field_name] %}
                    <li>{{ form2[field_name].label }}: {{ field_error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}