{% extends "base.html" %}

{% block title %}Add a New Camper{% endblock %}

{% block page %}

    {% include "form_errors.html" %}

    <h2>Add a Session</h2>
    <h4>Note: creating a new session does not activate it</h4>


    <form>
        {{ form1.csrf_token }}

        <div class="form-group">
            <b>{{ form1.description.label }}</b>{{ form1.description(class_="form-control") }}
        </div>

        {{ form1.submit(class_="btn btn-primary") }}

    </form>

    <h4>Active Session: {{ active_session }}</h4><br>
    <h2>Activate Session</h2>
    <h4>Only one session can be active at a given time. Activating a session here will deactivate the current session</h4>

    <form>
        {{ form2.csrf_token }}

        {{ form2.change_active}}

        {{ form2.submit(class_="btn btn-primary") }}
    </form>

{% endblock %}
