{% extends "base.html" %}

{% block title %}Add a New Camper{% endblock %}

{% block page %}

    {% include "form_errors.html" %}

    <h2>First Form</h2>
    <form>
        {{ form1.csrf_token }}

        <div class="form-group">
            <b>{{ form1.description.label }}</b>{{ form1.description(class_="form-control") }}
        </div>

        <div class="form-group">
            <b>{{ form1.active.label }}</b>{{ form1.active(class_="form-control") }}
        </div>

        {{ form1.submit(class_="btn btn-primary") }}

    </form>

    <h2>Second Form</h2>
    <form>
        {{ form2.change_active }}
    </form>

{% endblock %}
